{% extends 'base.html'%}
{% block title %}用户注册 - Django{% endblock %}
{% block content %}
	<div class="row text-center vertical-middle-sm">
		<h1>Register</h1>
		<p>if you are a user, <strong><a href="{% url 'account:login'%}">Login</a></strong>,please</p>
		<p>or register.</p>
		<form class="form-horizontal" action="." method="post">{% csrf_token %}
			<div class ="form-group">
				<label for="{{registerform.username.id_for_label}}" class="col-md-5 control-label">Username</label>
				<div class="col-md-6 text-left">{{registerform.username}}</div>
			</div>
			
			<div class ="form-group">
				<label for="{{registerform.email.id_for_label}}" class="col-md-5 control-label">Email</label>
				<div class="col-md-6 text-left">{{registerform.email}}</div>
			</div>
			
			<div class ="form-group">
				<label for="{{registerform.password.id_for_label}}" class="col-md-5 control-label">Password</label>
				<div class="col-md-6 text-left">{{registerform.password}}</div>
			</div>
			
			<div class ="form-group">
				<label for="{{registerform.confirm_password.id_for_label}}" class="col-md-5 control-label">Confirm Password</label>
				<div class="col-md-6 text-left">{{registerform.confirm_password}}</div>
			</div>
			
			<div class ="form-group">
				<label for="{{userprofileform.birday.id_for_label}}" class="col-md-5 control-label">Birday Date</label>
				<div class="col-md-6 text-left">{{userprofileform.birday}}</div>
			</div>
			
			<div class ="form-group">
				<label for="{{userprofileform.phone.id_for_label}}" class="col-md-5 control-label">Phone</label>
				<div class="col-md-6 text-left">{{userprofileform.phone}}</div>
			</div>
			
			<input type="submit" class="btn btn-primary btn-lg" value="REGISTER">
		</form>
	</div>
{% endblock%}