{% extends 'article/base.html'%}
{% load staticfiles %}
{% block title %}article manager{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<ul>
				{%for article in articles %}
					<li><a href="{{article.get_absolute_url}}">{{article.title}}</a></li> <!--双层花括号表示此处显示变量引用的数据-->				
				{%endfor%}
			</ul>
		</div>
		<div class="col-xs-6 col-md-4">
			<h2>广告</h2>
			<p>http://www.cnblogs.com/xiaobingqianrui/</p>
			<img width="200px" src="http://127.0.0.1:8000/static/images/Image%201.png">
		</div>
	</div>
{% endblock %}