{%extends "base.html"%}

{%load staticfiles%}

{%block title%}blog article{%endblock%}

{%block content%}
<div class="row text-center vertical-middle-sm">
	<h1>{{article.title}}</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<p class="text-center"><span>{{article.author}}</span>
		<span style="margin-left:20px">{{article.updated}}</span></p>
		<div>{{article.body}}</div>
	</div>
	<div class="col-xs-6 col-md-4">
		<h2>广告</h2>
		<p>http://www.cnblogs.com/xiaobingqianrui/</p>
		<img width="200px" src="http://127.0.0.1:8000/static/images/Image%201.png">
	</div>
</div>
{%endblock%}